.movie-db-main {
    background-color: $db-light-blue !important;
    font-style: oblique;
    padding: 10px 0 0 0;
}

.main-position {
    width: 100%;
    padding-left: 225px;
    position: sticky;
}