<nav class="sidebar movie-db-sidebar fixed-left">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">

        <button class="btn btn-link btn-block nav-link" [routerLink]="['/movie-db/new-movies']"
          [routerLinkActive]="'active-link'">
          <div class="rounded-circle">
            <i class="fa-solid fa-film fa-lg"></i>
          </div>
          <div class="d-md-block d-none">NEW</div>
        </button>

      </li>
      <li class="nav-item">
        <button class="btn btn-link btn-block nav-link" [routerLink]="['/movie-db/popular']"
          [routerLinkActive]="'active-link'">
          <div class="rounded-circle">
            <i class="fa-solid fa-fire fa-lg"></i>
          </div>
          <div class="d-md-block d-none">POPULAR</div>
        </button>
      </li>
      <li class="nav-item">
        <button class="btn btn-link btn-block nav-link" [routerLink]="['/movie-db/favorites']"
          [routerLinkActive]="'active-link'">
          <div class="rounded-circle">
            <i class="fa-solid fa-star fa-lg"></i>
          </div>
          <div class="d-md-block d-none">FAVORITES</div>
        </button>
      </li>
    </ul>

    <div [style.margin-top]="'40px'">
      <h4 [style.color]="'#017cad'" [style.margin-left]="'44px'">GENRES</h4>
      <ul class="nav flex-column">
        <li class="nav-item">
          <button class="btn btn-link btn-block nav-link" [routerLink]="['/movie-db/action']"
            [routerLinkActive]="'active-link'">
            <div class="rounded-circle">
              <i class="fa-solid fa-bullseye fa-lg"></i>
            </div>
            <div class="d-md-block d-none">Action</div>
          </button>
        </li>
        <li class="nav-item">
          <button class="btn btn-link btn-block nav-link" [routerLink]="['/movie-db/adventure']"
            [routerLinkActive]="'active-link'">
            <div class="rounded-circle">
              <i class="fa-solid fa-helicopter fa-lg"></i>
            </div>
            <div class="d-md-block d-none">Adventure</div>
          </button>
        </li>
        <li class="nav-item">
          <button class="btn btn-link btn-block nav-link" [routerLink]="['/movie-db/animation']"
            [routerLinkActive]="'active-link'">
            <div class="rounded-circle">
              <i class="fa-solid fa-dog fa-lg"></i>
            </div>
            <div class="d-md-block d-none">Animation</div>
          </button>
        </li>
        <li class="nav-item">
          <button class="btn btn-link btn-block nav-link" [routerLink]="['/movie-db/comedy']"
            [routerLinkActive]="'active-link'">
            <div class="rounded-circle">
              <i class="fa-solid fa-masks-theater fa-lg"></i>
            </div>
            <div class="d-md-block d-none">Comedy</div>
          </button>
        </li>
        <li class="nav-item">
          <button class="btn btn-link btn-block nav-link" [routerLink]="['/movie-db/documentary']"
            [routerLinkActive]="'active-link'">
            <div class="rounded-circle">
              <i class="fa-solid fa-book fa-lg" ></i>
            </div>
            <div class="d-md-block d-none">Documentary</div>
          </button>
        </li>
        <li class="nav-item">
          <button class="btn btn-link btn-block nav-link" [routerLink]="['/movie-db/drama']"
            [routerLinkActive]="'active-link'">
            <div class="rounded-circle">
              <i class="fa-solid fa-heart-pulse fa-lg"></i>
            </div>
            <div class="d-md-block d-none">Drama</div>
          </button>
        </li>
        <li class="nav-item">
          <button class="btn btn-link btn-block nav-link" [routerLink]="['/movie-db/horror']"
            [routerLinkActive]="'active-link'">
            <div class="rounded-circle">
              <i class="fa-solid fa-ghost fa-lg"></i>
            </div>
            <div class="d-md-block d-none">Horror</div>
          </button>
        </li>
        <li class="nav-item">
          <button class="btn btn-link btn-block nav-link" [routerLink]="['/movie-db/romance']"
            [routerLinkActive]="'active-link'">
            <div class="rounded-circle">
              <i class="fa-solid fa-face-grin-hearts fa-lg"></i>
            </div>
            <div class="d-md-block d-none">Romance</div>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
