<nav class="sidebar calendar-cx-sidebar">
  <div class="sidebar-sticky">
    <!-- Removed class due to dropright issues -->
    <ul class="nav flex-column">
      <li class="nav-item">
        <button class="btn btn-link btn-block nav-link">
          <div class="d-md-block d-none">NEW NEW NEW</div>
        </button>
      </li>
      <li class="nav-item">
        <button class="btn btn-link btn-block nav-link">
          <div class="d-md-block d-none">MOST VIEWED</div>
        </button>
      </li>
      <li class="nav-item">
        <button class="btn btn-link btn-block nav-link">
          <div class="d-md-block d-none">TOP RATED</div>
        </button>
      </li>
    </ul>

    <div [style.margin-top]="'40px'">
      <h4>CATEGORIES</h4>
      <ul class="nav flex-column">
        <li class="nav-item">
          <button class="btn btn-link btn-block nav-link">
            <div class="rounded-circle">
            </div>
            <div class="d-md-block d-none">Horror</div>
          </button>
        </li>
        <li class="nav-item">
          <button class="btn btn-link btn-block nav-link">
            <div class="d-md-block d-none">Romance</div>
          </button>
        </li>
        <li class="nav-item">
          <button class="btn btn-link btn-block nav-link">
            <div class="d-md-block d-none">Adventure</div>
          </button>
        </li>
        <li class="nav-item">
          <button class="btn btn-link btn-block nav-link">
            <div class="d-md-block d-none">Animated</div>
          </button>
        </li>
        <li class="nav-item">
          <button class="btn btn-link btn-block nav-link">
            <div class="d-md-block d-none">Drama</div>
          </button>
        </li>
        <li class="nav-item">
          <button class="btn btn-link btn-block nav-link">
            <div class="d-md-block d-none">Comedy</div>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
