<div class="paginator">
  <div class="text-center" *ngIf="paginationData">
    <ul class="pagination text-center">
      <li>
        <a [class.disabled]="!showPrevPageLink()" (click)="navigateToPage(1)" title="First">
          <i class="fa fa-angle-double-left fa-2"></i></a>
      </li>
      <li>
        <a [class.disabled]="!showPrevPageLink()" (click)="navigateToPrevPage()" title="Previous">
          <i class="fa fa-angle-left fa-2"></i></a>
      </li>
      <li>
        <a [class.disabled]="!showNextPageLink()" (click)="navigateToNextPage()" title="Next">
          <i class="fa fa-angle-right fa-2"></i></a>
      </li>
      <li>
        <a [class.disabled]="!showNextPageLink()" (click)="navigateToPage(paginationData.totalPages)" title="Last">
          <i class="fa fa-angle-double-right fa-2"></i></a>
      </li>
    </ul>
  </div>
</div>
