<new-movies *ngIf="this.type == 'new-movies'"></new-movies>
<popular *ngIf="this.type == 'popular'"></popular>
<favorites *ngIf="this.type == 'favorites'"></favorites>

<action *ngIf="this.type == 'action'"></action>
<adventure *ngIf="this.type == 'adventure'"></adventure>
<animation *ngIf="this.type == 'animation'"></animation>
<comedy *ngIf="this.type == 'comedy'"></comedy>
<documentary *ngIf="this.type == 'documentary'"></documentary>
<drama *ngIf="this.type == 'drama'"></drama>
<horror *ngIf="this.type == 'horror'"></horror>
<romance *ngIf="this.type == 'romance'"></romance>

<!-- <search-results *ngIf="this.type == 'search'"></search-results> -->
