<div class="movie-details" [style.background-image]="this.backgroundImageUrl">
  <div>
    <a class="back-page" title="Go to all movies page" (click)="goToPreviousPage()">
      <i class="fa fa-angle-left fa-2" [style.transform]="'scale(6)'"></i>
    </a>
  </div>

  <div class="details-section" >
    <div class="details-img-section">
      <img [src]="this.posterImageUrl">
    </div>
    <div class="details-general-section">
      <div *ngIf="this.movieDetail">
        <h1 [style.font-size]="'40px'" [style.font-weight]="'bold'">Upside-Down Magic</h1>
        <h2>Rating: {{this.movieDetail.vote_average}} / 10</h2>
        <div>
          <div class="stars-outer">
            <div class="stars-inner" [style.width]="this.movieDetail.vote_average * 10+'%'"></div>
          </div>
        </div>
        <h3>Find your magic</h3>
        <div>
          <h3>{{this.returnGenres(this.movieDetail.genres)}}</h3>
        </div>
        <h4>{{this.movieDetail.release_date | date: 'mediumDate'}} / {{this.movieDetail.runtime}} mins</h4>
        <h4>Status : {{this.movieDetail.status}}</h4>
      </div>
    </div>
  </div>
</div>

<div class="summary">

</div>
